* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    background-color: rgb(240, 238, 241);
}

.header {
    background-color: white;
    text-align: center;
    padding: 30px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.book-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.book-container p {
    margin: 10px;
}

.book-title {
    font-weight: bold;
}

.book-author {
    font-style: italic;
}